.container {
  font-family: "Roboto", sans-serif;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  padding: 10px;
  border-bottom: 1px rgb(225, 225, 225) solid;
  display: flex;
}

.icon {
  color: #5c47d2;
  margin-right: 20px;
}

.counters {
  display: flex;
  justify-content: space-around;
  width: 100vh;
}

.counterBody {
  display: flex;
}

.counter {
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #5c47d2;
  color: white;
  border-radius: 10px;
}

button {
  height: 40px;
  width: 40px;
  font-size: 30px;
  border: none;
  background-color: transparent;
  border-radius: 10px;
}

.buttonAddCounter {
  width: 250px;
  margin-top: 20px;
  background-color: #5c47d2;
  color: white;
  border: none;
  margin: 20px;
}

.reset {
  width: 120px;
  margin-top: 20px;
  background-color: #5c47d2;
  color: white;
  border: none;
}

Footer {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
}

span {
  font-weight: bold;
}

.footer {
  font-weight: bold;
}
